/* Entry level phones */
@media (max-width: 480px) {
	/* This is general */
	/* This is general */
	#main_menu .popup_container, #genericmenu .popup_container {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(40,64,80,0.5);
		z-index: 5;
	}
	#main_menu .popup_heading, #genericmenu .popup_heading {
		display: block;
	}
	#main_menu {
		margin: 0;
	}
	.popup_window, #main_menu .popup_window, #genericmenu .popup_window {
		position: relative;
		z-index: 99;
		width: 90%;
		box-shadow: 0 3px 6px rgba(0,0,0,0.5);
		border: 1px solid #777;
		border-radius: 7px 7px 3px 3px;
		min-height: 285px !important;
		max-height: 5em;
		overflow-x: hidden !important;
		overflow-y: scroll !important;
		-webkit-overflow-scrolling: touch;
		background: #fff; /* fallback for some browsers */
		background-image: linear-gradient(to bottom, #e2e9f3 0%, #fff 70%);
		top: 15%;
		padding: 0;
		margin: 0 auto;
	}
	h1.forumtitle a, h1.forumtitle {
		padding: 5px 0 0 4px !important;
		max-width: 300px;
		margin: 10px 0;
	}
	div[id^="mobile_generic_menu_"] .generic_menu {
		display: block;
	}
	.menu_icon {
		display: inline-block;
		background: url(../images/menu.svg) no-repeat;
		height: 20px;
		width: 20px;
	}
	.dropmenu li, .dropmenu li:hover,
	.dropmenu li a, .dropmenu li a:hover,
	.dropmenu li a.active, .dropmenu li a.active:hover, .dropmenu li:hover a.active,
	.dropmenu li ul {
		width: 100%;
		padding: 0;
		margin: 0 !important;
		border-left: 0;
		border-right: 0;
	}
	.dropmenu li a, .dropmenu li:hover a {
		padding: 5px 0 !important;
	}
	.dropmenu li a, .dropmenu li a:hover {
		text-indent: 10px;
		border-radius: 0;
	}
	.dropmenu li a, .dropmenu li:hover a,
	.dropmenu li a.active, .dropmenu li a.active:hover,
	.dropmenu ul li a:hover, .dropmenu li li a:hover,
	.dropmenu ul li li:hover, .dropmenu li ul,
	.dropmenu li li:hover ul, .dropmenu li li ul {
		border-left: 0;
		border-right: 0;
	}
	.dropmenu ul li a {
		width: auto !important;
	}
	.dropmenu li ul,
	.dropmenu li li:hover ul, .dropmenu li li ul {
		position: relative;
		border-radius: 0;
		left: 0;
	}
	#footer ul {
		width: 100%;
		float: none;
	}
}

/* We have shared things... */
@media screen and (max-width: 720px) {
	#header {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	#wrapper {
		width: 100% !important;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
	}
	#main_content_section {
		display: flex;
		flex-direction: column-reverse;
	}
	#sleft-side, #sright-side {
		width: 100%;
		float:none;
		margin: 0;
	}
}

/* 720 ---> 480 */
@media (min-width: 480px) and (max-width: 720px) {
	.side-block {
		flex-grow: 1;margin: 3px;
		width: 45%;
		display: flex;
		flex-direction: column;
	}
	.side-block .windowbg {
		flex-grow: 1;
	}
	div#column-one {
		display: flex;
		flex-wrap: wrap;
	}
	form#search_form {
		display: none;
	}
}

/* Table of Contents */
@media screen and (max-width: 660px) {
	div[class^="toclimit-"], #toc_parent {
		float: none !important;
		padding: 0 !important;
	}
}